{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
   
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">

    <title>Podcast Family</title>
</head>

{% block content %}

<body>
    <div class="container">
       
        <header>
            <h1>About Us</h1>
            <p id='subheader'>We love podcasts.  We want to make the process better.</p>
            <hr>
            <p id='details'></p>
        </header>

    </div>
</body>

{% endblock %}

<script>
    const profileLink = document.querySelector('#dropdown')
    const drop = document.querySelector('.profile-drop')

    drop.style.visibility = 'hidden'

    profileLink.addEventListener('mouseover', () => {
        drop.style.visibility = 'visible'
    })

    profileLink.addEventListener('mouseout', () => {
        drop.style.visibility = 'hidden'
    })

    drop.addEventListener('mouseover', () => {
        drop.style.visibility = 'visible'
    })

    drop.addEventListener('mouseout', () => {
        drop.style.visibility = 'hidden'
    })

    const menuBtn = document.querySelector('.hamburger')
    const mainMenu = document.querySelector('.mobile-links')
    const profileExpand = document.querySelector('.profile-expand')
    const profileBtn = document.querySelector('.profileex')

    const closeMenu = document.querySelector('#close-menu')
    const closeProfileMenu = document.querySelector('#close-profile')

    menuBtn.addEventListener('click', () => {
        mainMenu.style.display = 'inherit'
    })

    closeMenu.addEventListener('click', () => {
        mainMenu.style.display = 'none'
    })

    profileBtn.addEventListener('click', () => {
        profileExpand.style.display = 'inherit'
    })

    closeProfileMenu.addEventListener('click', () => {
        profileExpand.style.display = 'none'
    })
</script>


</html>