{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
   
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">

    <title>
    {% block title %} 
    Podcast Family 
    {% endblock%} 
    </title>
  </head>

  <body>

  <nav>
            <a href="{% url 'home' %}"> <img src="{% static 'images/podcastlogo.png' %}" alt="podcast family logo"> </a>
            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'guestdirectory' %}">Guests</a>


                  {% if user.is_authenticated %}
                  

                <a href="{% url 'logout' %}">Logout</a>

                <a href="{% url 'edit_settings_page' user.id %}">Edit User Settings</a>

                  {% else %}

                <a href="{% url 'register' %}">Register</a>
                
                <a href="{% url 'login' %}">Login</a>

                    {% endif %}


                  {% if user.is_authenticated and not user.guestprofile %}

                
                <a href="{% url 'createguestprofile' %}">Create Profile</a>
                
                    {% endif %}


                  {% if user.is_authenticated and user.guestprofile %}

                <a href="{% url 'guestprofile' user.guestprofile.id %}">View my Profile</a>

                <a href="{% url 'edit_profile_page' user.guestprofile.id %}">Edit my Profile</a> 

                  {% endif %}


                
            </div>
            <div class="mobile-nav">
                <img src="{% static 'images/mobilenav.svg' %}" alt="mobile hamburger" class='hamburger'>
                <div class="mobile-links">
                    <p><img src="{% static 'images/close.svg' %}" alt="close" id='close-menu'></p>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'guestdirectory' %}">Guests</a>
                    <a href="#">Get Listed</a>
                    <a href="#">Profile</a>
                    <a href="#" class="profileex">Profile <img src="{% static 'images/chevron-right-green.svg' %}"
                            alt="chevron right"></a>
                </div>
                <div class="profile-expand">
                    <p><img src="./images/close.svg" alt="close" id='close-profile'></p>
                    <a href="#"><img src="./images/user.svg" alt=""> View Profile</a>
                    <a href="#"><img src="./images/bookmarks.svg" alt=""> Bookmarks</a>
                    <a href="#"><img src="./images/messages.svg" alt=""> Messages</a>
                    <a href="#"><img src="./images/settings.svg" alt=""> Settings</a>
                </div>



            </div>
        </nav>
  
 

<div class="container">
    {% block content %}

    {% endblock %}
</div>


    </body>


{% comment %}   
<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <span class="text-justify"> We love podcasts.  We want to make the process better.  We want to see the industry grow.</span>
          </div>

         <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="">C</a></li>
              <li><a href="">UI Design</a></li>
              <li><a href="">Java</a></li>
              <li><a href="">Android</a></li>
              <li><a href="">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="mailto:podcastfamilycontact@gmail.com">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12"><br>
             <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by BaisDev
         <a href="#"></a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul> 
          </div>
        </div>
      </div>
</footer> {% endcomment %}


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

</html>