{% extends 'base.html' %}
{% load static %}
{% block title %} Edit Profile Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == guestprofile.user.id %}
<h1>Edit Guest Profile Page </h1>
<br><br/>

{%load crispy_forms_tags %} 

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-success">Save Changes</button>

</div>

    {% endif %}
    
    {% endif %}
    
    {% endblock %}
